---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>

    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'font-awesome.min.css' | stylesheet_tag }}
    {{ 'style.css' | stylesheet_tag }}
    {{ 'shortcodes.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
    {{ 'owl.carousel.css' | stylesheet_tag }}
    {{ 'magnific-popup.css' | stylesheet_tag }}
    {{ 'ionicons.min.css' | stylesheet_tag }}
    {{ 'revolution-slider.css' | stylesheet_tag }}
    {{ 'https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' | stylesheet_tag }}
  </head>
  <body>
    {% include 'nav' %}

    

    {% include 'news' %}

    {% include 'home_blurb' %}

    {% include 'featured_work' %}

    {% include 'footer' %}


    {% block content %}
    {% endblock %}



    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'slider.js' | javascript_tag }}

    {{ 'jquery.isotope.min.js' | javascript_tag }}
    {{ 'respond.min.js' | javascript_tag }}
    {{ 'imagesloaded.min.js' | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}

    {{ 'html5shiv.js' | javascript_tag }}
    {{ 'main.js' | javascript_tag }}
    {{ 'gmap3.min.js' | javascript_tag }}
    {{ 'jquery.themepunch.tools.min.js' | javascript_tag }}

    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'jquery.themepunch.revolution.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}



  </body>
</html>
